html{
    
    background-image: url('TahitIsl2.jpg');
  background-size: 100%;
   background-repeat:no-repeat;
background-attachment:scroll;
    color: #580000;
    font-family: "Palatino Linotype", "Book Antiqua", Palantino, serif;
background-color:  #2C3764;
}
body{
    /*background-color: #BBD6F1;*/
    text-align:center;
    width:100%;
    margin-left:auto;
margin-right:auto;
padding: 10px 10px 30px 10px;
border-radius: 10px;

}

div#banner{
margin-left: auto;
margin-right:auto;
opacity:0.85;
width: 75%;

}

div#navigation{
background-color: #F0E0B5;
    color: #A04747;
margin-left: auto;
margin-right:auto;
text-align:center;
width: 75%;
   padding: 0px;
float:top;
position:relative;
top:-15px;
opacity:0.95;
display:inline-block;
}

div#navigation ul.drop_menu {
padding:5px 60px 5px;
list-style-type:none;   
    
}
div#navigation ul.drop_menu li { float:left; padding:5px 8px 5px 8px;  }

div#navigation ul.drop_menu li ul 
{background-color: #93D8FA;  /*#00A3F5; #9DD5BA;*/
color: #660033;

position:absolute;
left:-9999px;
top:-9999px;
list-style-type:none;
}

div#navigation ul.drop_menu li ul li 
{
font-size:.8em; font-weight:bold;
list-style-type:none;

}
div#navigation ul.drop_menu li ul li span.tiny {
font-size:.75em; font-weight:normal; padding:5px 8px 5px 8px;   
}

div#navigation ul.drop_menu li:hover { position:relative; background:#59C3F8;      /*#7EC9B3;*/ }

div#navigation ul.drop_menu li:hover ul {

left:0px;

top:50px;

background: #93D8FA;    /*#59C3F8;*/    /*#9DD5BA;*/

padding:0px;

}


div#navigation ul.drop_menu li:hover ul li a {

 padding:5px 8px 5px 8px; 

/*background-color:  #59C3F8; #9DD5BA;*/
}

div#navigation ul.drop_menu li:hover ul li a:hover { text-decoration:underline; }



div#mainPage{
margin-left:auto;
margin-right:auto;
text-align:left;
width: 75%;
    padding: 10px 10px 10px 10px;
    background-color: #F2F5CC;
    border-radius: 10px;
      z-index:-1;
       
}

h1 {
color:#A04747;
letter-spacing:3px;
display:block;
text-align:center;
font-size:38px}
h2 {color:#00005C; font-size:20px; padding:0; display:block; text-align:center; 
}

h3 {color:#A04747; display:block; text-align:center; font-size:12px;
}
img{

    border-radius: 10px;
}
p{
    padding: 0px 20px 0px 20px;
}
a{
color:  #0A0070;
text-decoration:none;}
a:hover{
text-decoration:underline;}
